* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* max-width: 1300px; */
  font-family: "Roboto", sans-serif;

}
.banner {
  width: 100%;
}
.content {
  display: flex;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  max-width: 1300px;
  margin: 0 auto;
}
.side-bar {
  width: 25%;
  margin: 10px;
}
.list-product-bar {
}
.title-list-product-bar {
  color: #000000;
  font-size: 16px;
}
.list-product-bar-item {
  margin-top: 10px;
}
.list-product-bar-item > li {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  border-left: 1px solid #a1a1a1;
  font-size: 14px;
  cursor: pointer;
}
.list-product-bar-item > li:hover {
  color: #35c0c5;
}
.list-product-bar-item li:hover svg path {
  stroke: #35c0c5;
}
.title-product-item-bar {
  display: flex;
  position: relative;
  align-items: center;
}
.hr-item {
  border-bottom: 1px solid #a1a1a1;
  width: 20px;
  position: absolute;
  top: 8px;
  left: -30px;
}
.text-product-item-bar {
}
.selling-product-bar {
  margin: 30px 0;
}
.title-selling-product-bar {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}
.title-selling-product-bar:hover {
  color: #35c0c5;
}
.list-selling-product-bar {
}
.selling-product-bar-item {
  display: flex;
  margin: 20px 0;
}
.img-selling-bar {
  width: 100px;
  height: 100px;
}
.selling-product-info {
  margin-left: 10px;
}
.selling-product-name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}
.selling-product-price {
  margin: 10px 0;
  color: #35c0c5;
  font-weight: 600;
}
.selling-product-btn {
  background: none;
  border: 1px solid #000000;
  padding: 7px 12px;
  cursor: pointer;
}
.selling-product-btn:hover {
  background: #35c0c5;
  color: #fff;
  border: 1px solid #35c0c5;
}
.link-selling-product-more{
  text-decoration: none;
  color: #000;
}
.selling-product-more {
  font-size: 14px;
  cursor: pointer;
}
.selling-product-more:hover {
  color: #35c0c5;
}
.contact-bar {
  background: #35c0c5;
  display: flex;
  padding: 10px;
  margin-right: 30px;
  align-items: center;
}
.contact-phone {
  line-height: 1.5;
}
.contact-phone-title {
  font-size: 14px;
}
.contact-phone-number {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.contact-phone-number:hover {
  color: #ffff;
}
.banner-bar {
  width: 90%;
  margin: 20px 0;
}
.product {
  width: 75%;
  margin: 10px;
}
.title-product {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px double #a1a1a1;
  cursor: pointer;
}
.title-product:hover {
  color: #35c0c5;
}
.list-product-new {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}
.list-product-sale {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}
.product-new-item {
  margin: 0 auto;
  position: relative;
}
.product-new-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.product-new-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.product-new-item:hover::before {
  opacity: 1;
}

.product-new-img {
  max-width: 100%;
  display: block;
  transition: transform 0.3s;
}
/*   
  .product-new-item:hover .product-new-img {
    transform: scale(1.1); 
  } */

.product-new-sale {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #35c0c5;
  color: #fff;
  padding: 5px 10px;
}
.product-new-img {
  width: 255px;
  height: 285px;
}
.product-new-name {
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 255px;
  text-align: center;
}
.product-new-name:hover {
  color: #35c0c5;
}
.product-new-btn {
  display: flex;
  justify-content: center;
}
.product-buy-btn {
  background: none;
  border: 1px solid #000000;
  padding: 7px 12px;
  cursor: pointer;
  font-weight: 600;
}
.product-buy-btn:hover {
  background: #35c0c5;
  color: #fff;
  border: 1px solid #35c0c5;
}
.product-new-eye {
  border: none;
  margin-left: 3px;
  padding: 5px;
  text-align: center;
  background: #a1a1a1;
  cursor: pointer;
}
.product-new-eye:hover {
  background: #35c0c5;
}
.banner-2 {
  width: 100%;
  margin: 50px 0;
}

.content-news-bar {
}
.news-bar-img {
  width: 90%;
}
.news-bar-title {
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  max-width: 90%;
  font-weight: 600;
}
.news-bar-title:hover {
  color: #35c0c5;
}
.info-author-news {
}
.author-name,
.author-date {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.author-text,
.author-date-text {
  font-size: 14px;
  margin-left: 4px;
  color: #898989;
}
.author-description {
  font-size: 14px;
  margin: 20px 0;
  max-width: 90%;
  color: #898989;
}

.other-products {
  margin: 20px 15px;
  display: flex;
}
.outstanding-products {
  width: 30%;
}
.title-product {
  margin-bottom: 10px;
}
.frequently-purchased-products {
  width: 70%;
}
.list-frequently-purchased-products{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.list-outstanding-products{
  margin-top: 30px;
}

.product-new-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-price-sale{
  margin: 10px 0;
  color: #35c0c5;
  font-weight: 600;
  text-align: center;
  margin-left: 8px;
}
.product-price-default{
  color: #acacac;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 400;
}